<!-- BRAND RIBBON -->
<div class="ribbon">15 of the 20 largest fires in California history have occurred since 2000.</div>

<!-- HIGHLIGHT RIBBON -->
<div class="ribbon ribbon--highlight">85 percent of undergraduates enroll in the College</div>