<br>

<div class="radio" style="margin-left: 5px">
  <input class="radio__input" type="radio" name="radiobutton1" value="value2">
  <label class="radio__label" for="">Radio Button</label>
  <input class="radio__input" type="radio" name="radiobutton1" value="value2">
  <label class="radio__label" for="">Radio Button</label>
</div>

<br><br><br><br>

<div class="radio-item">
    <input type="radio" id="ritema" name="ritem" value="ropt1">
    <label for="ritema">Option 1</label>
</div>

<div class="radio-item">
    <input type="radio" id="ritemb" name="ritem" value="ropt2">
    <label for="ritemb">Option 2</label>
</div>
