<!-- Primary -->
<button class="btn btn--lightbg">Primary Button</button>
<button class="btn btn--lightbg icon--play">Primary Button with Leading Icon</button>
<button class="btn btn--lightbg icon--link">Primary Button with Trailing Icon</button>
<button class="btn btn--lightbg" disabled>Primary Button Disabled</button>

<!-- Primary (Dark Background) -->
<div class="has-background-ucla-blue">
  <button class="btn btn--darkbg">Primary Dark Background Button</button>
  <button class="btn btn--darkbg icon--play">Primary Dark Background Button with Leading Icon</button>
  <button class="btn btn--darkbg icon--link">Primary Dark Background Button with Trailing Icon</button>
  <button class="btn btn--darkbg" disabled>Primary Dark Background Button Disabled</button>
</div>