<!-- Secondary -->
<button class="btn btn--secondary--lightbg">Secondary Button</button>
<button class="btn btn--secondary--lightbg icon--play">Secondary Button with Leading Icon</button>
<button class="btn btn--secondary--lightbg icon--link">Secondary Button with Trailing Icon</button>
<button class="btn btn--secondary--lightbg" disabled>Secondary Button Disabled</button>


<!-- Secondary (Dark Background) -->
<div class="has-background-ucla-blue	">
  <button class="btn btn--secondary--darkbg">Secondary Dark Background Button</button>
  <button class="btn btn--secondary--darkbg icon--play">Secondary Dark Background Button with Leading Icon</button>
  <button class="btn btn--secondary--darkbg icon--link">Secondary Dark Background Button with Trailing Icon</button>
  <button class="btn btn--secondary--darkbg" disabled>Secondary Dark Background Button Disabled</button>
</div>
