<!-- Secondary -->
<div class="mb-24" style="display:block">
  <h3>Secondary Button</h3>
  <button class="btn btn--secondary--lightbg">Button</button>
  <button class="btn btn--sm btn--secondary--lightbg">Small Button</button>
  <button class="btn btn--xs btn--secondary--lightbg">Extra Small Button</button>
</div>
<div class="mb-24" style="display:block">
  <h3>Secondary Button with Leading Icon</h3>
<button class="btn btn--secondary--lightbg icon--play">Button</button>
<button class="btn btn--sm btn--secondary--lightbg icon--play">Small Button</button>
<button class="btn btn--xs btn--secondary--lightbg icon--play">Extra Small Button</button>
</div>
<div class="mb-24" style="display:block">
  <h3>Secondary Button with Trailing Icon</h3>
<button class="btn btn--secondary--lightbg icon--link">Button</button>
<button class="btn btn--sm btn--secondary--lightbg icon--link">Small Button</button>
<button class="btn btn--xs btn--secondary--lightbg icon--link">Extra Small Button</button>
</div>
<div class="mb-24" style="display:block">
  <h3>Secondary Button Disabled</h3>
<button class="btn btn--secondary--lightbg" disabled>Button</button>
<button class="btn btn--sm btn--secondary--lightbg" disabled>Small Button</button>
<button class="btn btn--xs btn--secondary--lightbg" disabled>Extra Small Button</button>
</div>


<!-- Secondary (Dark Background) -->
<div class="has-background-ucla-blue py-24">
  <div class="mb-24" style="display:block">
    <h3>Secondary Button w/ Dark Background</h3>
    <button class="btn btn--secondary--darkbg">Button</button>
    <button class="btn btn--sm btn--secondary--darkbg">Small  Button</button>
    <button class="btn btn--xs btn--secondary--darkbg">Extra Small Button</button>
  </div>
  <div class="mb-24" style="display:block">
    <h3>Secondary Dark Background Button with Leading Icon</h3>
    <button class="btn btn--secondary--darkbg icon--play">Button</button>
    <button class="btn btn--sm btn--secondary--darkbg icon--play">Small Button</button>
    <button class="btn btn--xs btn--secondary--darkbg icon--play">Small Button</button>
  </div>
  
  <div class="mb-24" style="display:block">
    <h3>Secondary Dark Background Button with Trailing Icon</h3>
    <button class="btn btn--secondary--darkbg icon--link">Button</button>
    <button class="btn btn--sm btn--secondary--darkbg icon--link">Small Button</button>
    <button class="btn btn--xs btn--secondary--darkbg icon--link">Extra Small Button</button>
  </div>  

  <div class="mb-24" style="display:block">
    <h3>Secondary Dark Background Button Disabled</h3>
  <button class="btn btn--secondary--darkbg" disabled>Button</button>
  <button class="btn btn--sm btn--secondary--darkbg" disabled>Small Button</button>
  <button class="btn btn--xs btn--secondary--darkbg" disabled>Extra Small Button</button>
  </div>
</div>
