<!-- Tertiary -->
<button class="btn btn--tertiary">Tertiary Button</button>
<button class="btn btn--tertiary icon--play">Tertiary Button with Leading Icon</button>
<button class="btn btn--tertiary icon--link">Tertiary Button with Trailing Icon</button>
<button class="btn btn--tertiary" disabled>Tertiary Button Disabled</button>

<!-- Tertiary (Dark Backgroun)-->
<button class="btn btn--tertiary--darkbg">Tertiary Dark Background Button</button>
<button class="btn btn--tertiary--darkbg icon--play">Tertiary Dark Background Button with Leading Icon</button>
<button class="btn btn--tertiary--darkbg icon--link">Tertiary Dark Background Button with Trailing Icon</button>
<button class="btn btn--tertiary--darkbg" disabled>Tertiary Dark Background Button Disabled</button>
