<!-- Pagination (Boxed) -->
<nav aria-label="Pagination">
  <ul class="pagination--boxed">
    <li><a class="page" href="#" aria-label="Previous"><span class="pagination-prev"></span></a></li>
    <li><a class="page page--current" href="#">1</a></li>
    <li><a class="page" href="#">2</a></li>
    <li><a class="page" href="#">3</a></li>
    <li><a class="page" href="#">4</a></li>
    <li><a class="page" href="#">5</a></li>
    <li><a class="page" href="#">6</a></li>
    <li><a class="page" href="#">7</a></li>
    <li><a class="page" href="#" aria-label="Next"><span class="pagination-next"></span></a></li>
  </ul>
</nav>

<!-- Pagination (Unboxed) -->
<nav aria-label="Pagination">
  <ul class="pagination">
    <li><a class="page" href="#"><span class="pagination-prev"></span></a></li>
    <li><a class="page page--current" href="#">1</a></li>
    <li><a class="page" href="#">2</a></li>
    <li><a class="page" href="#">3</a></li>
    <li><a class="page" href="#">4</a></li>
    <li><a class="page" href="#">5</a></li>
    <li><a class="page" href="#">6</a></li>
    <li><a class="page" href="#">7</a></li>
    <li><a class="page" href="#"><span class="pagination-next"></span></a></li>
  </ul>
</nav>