<!-- HIGHLIGHT RIBBON -->
<div class="ribbon ribbon--highlight">85 percent of undergraduates enroll in the College</div>

<div class="ribbon ribbon--highlight ribbon--right">85 percent of undergraduates enroll in the College</div>