<!-- HIGHLIGHT RIBBON -->
<h2 class="mt-24">Highlight</h2>
<h3>Left Align</h3>
<div class="ribbon ribbon--highlight"><h3>85% of undergraduates enroll in the college.</h3></div>
<h3 class="mt-12">Right Align</h3>
<div class="ribbon ribbon--highlight ribbon--right"><h3>85% of undergraduates enroll in the college.</h3></div>