<!-- HIGHLIGHT RIBBON -->
<div class="ribbon ribbon--highlight"><h3>85% of undergraduates enroll in the College</h3></div>

<div class="ribbon ribbon--highlight ribbon--right"><h3>85% of undergraduates enroll in the College</h3></div>