<button id="primary-ham" class="hamburger" type="button" aria-label="Menu" aria-controls="navigation" alt="navigation and search">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>

<nav id="nav-main" class="nav-primary" aria-label="Main Menu">
  <ul class="nav-primary__list">
    <li class="nav-primary__item nav-primary__link--has-children">
      <a class="nav-primary__link current-page" href="#">Nav Item</a>
      <button class="nav-primary__toggle" aria-label="toggle"></button>
      <ul class="nav-primary__sublist nav-primary__sublist--hidden">
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link current-page" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
      </ul>
    </li>
    <li class="nav-primary__item nav-primary__link--has-children">
      <a class="nav-primary__link" href="#">Nav Item</a>
      <button class="nav-primary__toggle" aria-label="toggle"></button>
      <ul class="nav-primary__sublist nav-primary__sublist--hidden">
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
      </ul>
    </li>
    <li class="nav-primary__item nav-primary__link--has-children">
      <a class="nav-primary__link" href="#">Nav Item</a>
      <button class="nav-primary__toggle" aria-label="toggle"></button>
      <ul class="nav-primary__sublist nav-primary__sublist--hidden">
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
      </ul>
    </li>
    <li class="nav-primary__item nav-primary__link--has-children">
      <a class="nav-primary__link" href="#">Nav Item</a>
      <button class="nav-primary__toggle" aria-label="toggle"></button>
      <ul class="nav-primary__sublist nav-primary__sublist--hidden">
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
      </ul>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item nav-primary__link--has-children">
      <a class="nav-primary__link" href="#">Nav Item</a>
      <button class="nav-primary__toggle" aria-label="toggle"></button>
      <ul class="nav-primary__sublist nav-primary__sublist--hidden">
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
        <li class="nav-primary__item">
          <a class="nav-primary__link" href="#">Nav Item</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>