<div id="image-slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="/img/examples/tile-example-1.jpg">
			</li>
			<li class="splide__slide">
				<img src="/img/examples/tile-example-1.jpg">
			</li>
			<li class="splide__slide">
				<img src="/img/examples/tile-example-1.jpg">
			</li>
		</ul>
	</div>
</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
  	new Splide( '#image-slider' ).mount();
  } );
</script>
