<section class="story">

<!-- FEATURED STORY EXAMPLE --><!-- FEATURED STORY EXAMPLE --><!-- FEATURED STORY EXAMPLE -->

  <div class="story__featured">
    <article class="story__featured-card">
      <a href="#" tabindex="-1">
        <img class="story__featured-image" src="/img/examples/featured-story-bill-and-john.jpg" alt="Bill Walton with a drawing of Coach John Wooden.">
      </a>
      <div class="story__featured-content">
        <h3 class="story__featured-title"><a class="link" href="#">Featured Story</a></h3>
        <p class="story__featured-blurb">Hall of Famer Bill Walton '74 recently talked about his approach to life, what he's learned and his love for his alma mater.</p>
        <p class="story__featured-source">Source: <a class="link" href="#">UCLA Magazine</a></p>
      </div>
    </article>
  </div>

  <!-- SECONDARY STORY SECTION CAN BE INCLUDED BELOW -->
  <!-- <div class="story__secondary">

    <article class="story__secondary-card">
      <a href="#">
        <div class="story__secondary-image-wrapper"><img class="story__secondary-image" src="/img/examples/story-danielle.jpg" alt="Danielle Dupuy, assistant director of the Ralph J. Bunche Center for African American Studies and co-lead of the Million Dollar Hoods Project." /></div>
        <h3 class="story__secondary-title">
          <span class="story__secondary-title-text">Secondary Story</span>
        </h3>
      </a>
      <div class="story__secondary-content">
        <p class="story__secondary-blurb">As UCLA’s four ethnic studies centers celebrate their 50th anniversary, their mission  —  to use advanced research to bring about social justice  —  takes on added urgency.</p>
        <p class="story__secondary-source">Source: <a href="#" class="link">UCLA Magazine</a></p>
      </div>
    </article>

  </div> -->
</section>
