<article class="person-card">
  <img class="person-card__image" src="/img/examples/person-card-gene.jpg" alt="Headshot of Gene Block">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Gene Block</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>

<article class="person-card">
  <img class="person-card__image" src="/img/examples/person-card-emily.jpg" alt="Headshot of Emily A. Carter">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Emily A. Carter</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>

<article class="person-card">
  <img class="person-card__image" src="/img/examples/person-card-mary.jpg" alt="Headshot of Mary Osaka">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Mary Osaka</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>

<article class="person-card-grey">
  <img class="person-card__image" src="/img/examples/person-card-gene.jpg" alt="Headshot of Gene Block">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Gene Block</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>

<article class="person-card-grey">
  <img class="person-card__image" src="/img/examples/person-card-emily.jpg" alt="Headshot of Emily A. Carter">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Emily A. Carter</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>

<article class="person-card-grey">
  <img class="person-card__image" src="/img/examples/person-card-mary.jpg" alt="Headshot of Mary Osaka">
  <div class="person-card__info-wrapper">
    <h1 class="person-card__name"><span>Mary Osaka</span></h1>
    <h2 class="person-card__department"><span>Title, Department</span></h2>
    <p class="person-card__description">With schools closed and remote learning the norm, how many hours of digital technology are acceptable for kids, and how much is too much? Can parents control when kids use tec…</p>
  </div>
</article>
