{
  "branches": [
    {name: 'development', release: true},
    {name: 'beta', prerelease: true},
    {name: 'beta-development', prerelease: beta}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
