{
  "branches": [
    {name: 'beta', release: true},
    {name: 'main', prerelease: 'beta'}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
