.alert {
  /* Default Alerts Styling */
  padding: 16px 16px 16px 37px;
  border-width: 4px;
  border-style: solid;
  line-height: 24px;

  /* Specific Alert Styles */
  &__primary {
    border-color: $lighter-blue;
  }

  &__secondary {
    border-color: #979797;
  }

  &__success {
    background: white url("/img/icons/success-green.svg") no-repeat 8px 50%;
    background-size: 24px 24px;
    border-color: $success-green;
  }

  &__error {
    background: white url("/img/icons/error-red.svg") no-repeat 8px 50%;
    background-size: 24px 24px;
    border-color: $error-red;
  }

  &__warning {
    background: white url("/img/icons/warning-orange.svg") no-repeat 8px 50%;
    background-size: 24px 24px;
    border-color: $warning-orange;
  }
}
