a {
  font: $font;
  color: $default-state;

  &:hover {
    color: white;
    background: $hover-state;
  }

  &:active {
    color: white;
    background: $active-state;
  }

  &:focus {
    border: 1px dotted $hover-state;
    outline: 0;
    margin: -1px;
  }

  &:visited {
    // color: $visited-state;

    &:hover {
      // color: white;
    }
  }

  &.white {
    color: white;

    &:hover {
      color: $grey-80;
      background: $hover-state-dark;
    }

    &:active {
      color: $grey-80;
      background: $active-state-dark;
    }

    &:focus {
      border: 1px dotted white;
      outline: 0;
    }

    &:visited {
      color: white;

      &:hover {
        color: $grey-80;
      }
    }
  }
}
