/*------------------------------------
    Primary Main navigation
  ------------------------------------*/
.nav-primary {
  position: relative;

  @media (min-width: breakpoint-min(lg)) {
    float: left;
  }

  /* The main list of navigation links. */
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;

      &::before {
        content: "";
        margin: 0;
        padding: 0;
        display: none;
      }
    }

    /* Make the navigation a flexbox above 1024px */
    @media (min-width: breakpoint-min(lg)) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    /* Style li(s) */
    li {
      margin: 0;
      min-width: 100%;
      border-bottom: 1px solid $medium-grey3;

      /* Style li(s) above 1024px */
      @media (min-width: breakpoint-min(lg)) {
        min-width: inherit;
        flex-basis: auto;
        align-self: flex-end;
        border: 1px solid $white;
        border-bottom: 0;

        &:hover {
          /* Keep top level item hover state when inside child elesearch-iconts */
          & > .nav-primary__link {
            background: $hover-state;
            color: $white;

            &::after {
              filter: brightness(0) invert(1);
            }
          }

          /* Show child links on hover of parents container */
          & > ul {
            display: block;
            margin-top: 0;
            z-index: 820;
          }
        }
      }

      /* Style child links below 1024px */
      & > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          list-style: none;

          &::before {
            content: "";
            margin: 0;
            padding: 0;
          }
        }

        a {
          display: block;
          background-color: $grey-10;

          /* Unset child link styles above 1024px */
          @media (min-width: breakpoint-min(lg)) {
            background-color: $white;
            padding-left: 1rem;
          }
        }
      }
    }
  }

  &__item {
    a {
      &.current-page {
        border-left: 4px solid $ucla-gold;
        padding-left: 20px;
      }
    }

    .nav-primary__sublist {
      a {
        &.current-page {
          padding-left: 44px;
        }
      }
    }

    @media (min-width: breakpoint-min(lg)) {
      padding-right: 10px;

      a {
        &.current-page {
          border-left: 0;
          position: relative;

          &::before {
            content: '';
            display: block;
            width: calc(100% - 32px);
            height: 4px;
            position: absolute;
            background: $ucla-gold;
            top: 35px;
            left: 16px;
          }
        }
      }

      .nav-primary__sublist {
        .nav-primary__item {
          padding-right: 0px;

          a {
            &.current-page {
              border-left: 4px solid $ucla-gold;
              padding-left: 12px;

              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &__toggle {
    background-color: $white;
    border: 0;
    border-left: 1px solid $grey-10;
    width: 3.2em;
    margin-left: auto;

    &.is-open {
      &::after {
        transform: rotate(-90deg);
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: $hover-state;

      &::after {
        filter: brightness(0) invert(1);
      }
    }

    &:focus {
      outline-offset: -0.25rem;
      outline: 1px dotted $hover-state;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1em;
      background: url("/img/icons/arrow-right-defaultblue.svg") no-repeat center;
      background-size: 24px;
    }

    @media (min-width: breakpoint-min(lg)) {
      display: none;
    }
  }

  /* Child list ul(s) */
  &__sublist {
    width: 100%;

    @media (min-width: breakpoint-min(lg)) {
      position: absolute;
      width: 20rem;
    }

    &--open {
      display: block;
    }

    /* TODO refactor this to .nav-primary__list li>ul li */
    .nav-primary__item {
      @media (min-width: breakpoint-min(lg)) {
        border: 1px solid $grey-10;
        border-top: 0;

        a {
          padding: 14px 16px;
        }
      }

      &:first-child {
        border-top: 1px solid $medium-grey3;

        @media (min-width: breakpoint-min(lg)) {
          border-top: 1px solid $grey-10;
        }
      }

      &:last-child {
        border-bottom: 0;

        @media (min-width: breakpoint-min(lg)) {
          border-bottom: 1px solid $grey-10;
        }
      }
    }

    .nav-primary__link {
      padding: 14px 24px 14px 48px;
      background-color: $lightest-grey-2;

      @media (min-width: breakpoint-min(lg)) {
        background-color: $white;
      }
    }
  }

  /* Link styling
     TODO most of this could be moved to the a selector. Really only need this to target the has children class. */
  &__link {
    display: block;

    &:hover {
      background: $hover-state;
      color: $white;
    }

    &:focus {
      outline-offset: -0.25rem;
      outline: 1px dotted $hover-state;

      @media (min-width: breakpoint-min(lg)) {
        outline-offset: 0.25rem;
      }
    }

    &--has-children {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;

      & > *:nth-child(1) {
        flex: 1;
      }

      @media (min-width: breakpoint-min(lg)) {
        display: inline-block;
        position: relative;
        padding-right: 10px;

        .nav-primary__link {
          &:hover {
            border-bottom: 1px;
          }
        }

        & > a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;

          &::after {
            content: "";
            display: block;
            height: 1em;
            width: 1em;
            background: url("/img/icons/arrow-right-defaultblue.svg") no-repeat center;
            background-size: 24px;
            margin-left: 1em;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  /* Hide child items with this class
     Class added vis JS */
  &__sublist {
    &--hidden {
      display: none;
    }
  }

  /* All primary nav links */
  a {
    color: $default-state;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.333rem;
    text-decoration: none;
    background: $white;
    padding: 14px 24px;

    @media (min-width: breakpoint-min(lg)) {
      padding: 8px 16px 16px;
      font-size: 1.125rem;
    }
  }

  /* Search Form */
  &__search-mobile, &__search-desktop {
    .nav-primary__search-form {
      display: block;
      position: relative;

      &::before {
        display: block;
        content: ' ';
        width: 18px;
        height: 18px;
        position: absolute;
        background-image: url(/img/icons/search-grey60.svg);
        background-position: center;
        background-size: contain;
        margin: 12px;
        background-size: cover;
        z-index: 2;
      }

      label {
        width: 100%;
        display: block;
        position: inherit;

        @media (min-width: breakpoint-min(lg)) {
          display: inline-block;
          width: 91%;
          margin: 0;
          border: 1px solid #333;
        }

        input {
          width: 100%;
          padding: 11px 12px 11px 38px;
          background: #EBEBEB;
          border: 0;
          -webkit-appearance: none;
        }
      }

      .nav-primary__search-submit {
        display: none;

        @media (min-width: breakpoint-min(lg)) {
          display: inline-block;
          width: 8%;
          padding: 12px !important;
          -webkit-appearance: none;
          background: #00598C;
          color: #FFFFFF;
          border: 0px;
          border-radius: 0 2px 2px 0;
          margin-left: -5px;
        }
      }
    }
  }

  /* Search Mobile */
  &__search-mobile {
    @media (min-width: breakpoint-min(lg)) {
      display: none;
    }
  }

  /* Search Desktop */
  &__search-desktop {
    display: none;

    @media (min-width: breakpoint-min(lg)) {
      display: inline-block;
      height: 44px;
      width: 56px;
      position: relative;
      top: -1px;
    }

    #search-button {
      display: none;

      &:hover {
        background: #0079BF;
        cursor: pointer;

        svg {
          filter: brightness(0) invert(1);
        }
      }

      &.is-active {
        background: #0079BF;

        svg {
          filter: brightness(0) invert(1);
        }
      }

      @media (min-width: breakpoint-min(lg)) {
        display: block;
        height: 44px;
        width: 56px;
        background: #FFFFFF;
        -webkit-appearance: none;
        border: 0;
      }
    }

    #block-search {
      @media (min-width: breakpoint-min(lg)) {
        display: none;
        background: #FFFFFF;
        padding: 17px 32px 15px 32px;
        border: 1px solid #CCCCCC;

        &.is-active {
          display: block;
          position: absolute;
        }
      }
    }
  }
}