@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";
@use "../utilities/variables";

// .ribbon {
//   max-width: 776px;
//   span {
//     font-size: variables.$ucla-font-size-large;
//     font-weight: bold;
//     text-transform: uppercase;
//     color: colors.$white;
//     background: colors.$ucla-blue;
//     display: inline-block;
//     padding: 8px 4px 6px;
//     margin-bottom: 2px;
//     position: relative;
//     line-height: 0.8;

//     &.first { padding-left: 8px; }

//     &.last { padding-right: 8px; }

//     @media (min-width: breakpoints.breakpoint-min(md)) {
//       font-size: variables.$ucla-font-size-xxx-large;
//       padding: 8px 4px 4px 12px;
//       margin-bottom: 2px;

//       &.first { padding-left: 14px; }

//       &.last { padding-right: 14px; }
//     }
//   }
// }

// .ribbon--highlight {
//   max-width: 274px;

//   span {
//     font-size: variables.$ucla-font-size-large;
//     font-weight: bold;
//     text-transform: none;
//     line-height: 1;
//     color: colors.$medium-grey5;
//     background: colors.$ucla-gold;
//     display: inline-block;
//     padding: 12px 3px 12px;
//     margin-bottom: 2px;

//     &.first { padding-left: 12px; }

//     &.last { padding-right: 12px; }
//   }

//   &.ribbon--right {
//     text-align: right;
//   }
// }

.ribbon {
  max-width: 776px;
  
  h2 {
    font-size: variables.$ucla-font-size-large;
    font-weight: bold;
    background-color: colors.$ucla-blue;
    color: colors.$white;
    line-height: 1.6;
    // white-space: pre-wrap;
    display: inline;
    text-transform: uppercase;
    padding: 4px 0 4px 8px;
    box-shadow: 10px 0 0 colors.$ucla-blue;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;




    @media (min-width: breakpoints.breakpoint-min(md)) {
      font-size: variables.$ucla-font-size-xxx-large;
      padding: 4px 0 4px 12px;
      box-shadow: 14px 0 0 colors.$ucla-blue;
      line-height: 1.4;
    }

    // Firefox line-height is displayed differently than Chrome/Safari. This targets Firefox browsers specifically.
    @-moz-document url-prefix() {
      padding: 6px 0 0 10px;
      line-height: 1.3;
      vertical-align: text-top;

      @media (min-width: breakpoints.breakpoint-min(md)) {
        padding: 6px 0 0 8px;
        line-height: 1.2;
      }
    }
  }

  &--highlight {
    max-width: 300px;

    h3 {
      font-size: variables.$ucla-font-size-large;
      font-weight: bold;
      background-color: colors.$ucla-gold;
      color: colors.$medium-grey5;
      line-height: 2;
      // padding-left: 12px;
      padding: 8px 0 8px 12px;
      box-shadow: 14px 0 0 colors.$ucla-gold;
      display: inline;
      text-transform: none;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      // Firefox line-height is displayed differently than Chrome/Safari. This targets Firefox browsers specifically.
      @-moz-document url-prefix() {
        padding: 8px 0 8px 12px;
        line-height: 1.7;
        vertical-align: text-top;
      }
    }

    &.ribbon--right {
      text-align: right;
    }
  }
}