/*

  STAT TOUTS


*/


// .stat-set is the container for multiple stat touts across
.stat-set {
  @media (min-width: breakpoint-min(md)) {
    display: flex;
  }
}

// .stat-wrapper is the container for individual stat touts
.stat-wrapper {
  .stat-tout {
    display: block;
    border-left: 4px solid $ucla-gold;
    padding: 6px 0 38px 32px;
    margin: 24px 24px 0;

    @media (min-width: breakpoint-min(md)) {
      display: inline-block;
    }

    /*
      Handle wrapping for two and three across
    */
    @media only screen and (min-width: breakpoint-min(md)) {
      // width: calc((100%/2) - (24px/2));
      float: left;
      margin-right: 24px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media only screen and (min-width: breakpoint-min(lg)) {
      // width: calc((100%/3) - (48px/3));
      float: left;
      margin-right: 24px;

      &:nth-child(2n) {
        margin-right: 24px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    // .number and .label are spans
    &__number {
      font-size: 54px;
      line-height: 4rem;
      color: $grey-80;
      font-weight: bold;
      display: block;
      margin-bottom: 8px;

      // Target spans wrapping "out of"
      // For multiple variable stat touts
      & > span {
        font-size: 18px;
        vertical-align: middle;
        margin: 0 -5px;
      }
    }

    &__label {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
      display: block;
      max-width: 212px;

      @media (min-width: breakpoint-min(md)) {
        max-width: 312px;
      }

      &--grey {
        color: $medium-grey4;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: bold;
        display: block;
      }
    }

    &__source {
      display: block;
      font-size: 12.8px;
      font-weight: bold;
      font-style: italic;
      color: $grey-60;
      padding-top: 8px;
      line-height: 16px;
    }

    &--wide {
      width: 100%;
      border-bottom: 4px solid $ucla-gold;
      padding-bottom: 24px;
      margin-bottom: 48px;
    }

    /*
      Inline stat touts
    */
    &--inline {
      @media (min-width: breakpoint-min(lg)) {
        display: flex;
        align-items: stretch;
        padding-bottom: 16px;

        .stat-tout__number {
          margin-right: 16px;
        }

        .stat-tout__label {
          display: block;
          margin-top: 20px;
          max-width: inherit;
        }
      }
    }
  }
}
