/*******

FIXED FIRST ROW Table component

TABLE RULES:
1. To align text right add global class "align-right" to td element.
2. Tableheads and first column values will be bolded.
3. "blue-total" and "yellow-total" class's rows will be bolded.
4. Total or distinctive columns at bottom should be wrapped in <tfoot> tags.

HTML structure:

<h1>Table</h1>

<div class="fixed-table">
  <div class="fixed-table__scroller">
      <table class="fixed-table__wrapper">
          <thead>
              <tr>
                <th class="fixed-table__sticky-col">Column One Title</th>
                <th>Column Two Title</th>
                <th>Column Three Title</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td class="fixed-table__sticky-col">First Row Title</td>
                <td>First row second column info.</td>
                <td>First row third column info.</td>
              </tr>
              <tr>
                <td class="fixed-table__sticky-col">Second Row Bold Title Example</td>
                <td>Second row second column info.</td>
                <td>Second row third column info.</td>
              </tr>
              <tr class="blue-total">
                <td class="fixed-table__sticky-col">Third Row Title - Blue Total Row</td>
                <td>Third row second column info - Blue Total Row</td>
                <td>Third row third column info - Blue Total Row</td>
              </tr>
              <tfoot>
                <tr class="yellow-total">
                  <td class="fixed-table__sticky-col">Total Example - Yellow Total Row</td>
                  <td>99,999 - Yellow Total Row</td>
                  <td>99,999 - Yellow Total Row</td>
                </tr>
              </tfoot>
          </tbody>
      </table>
  </div>
</div>

<h1>Table with Aligned-Right Column Data</h1>

<div class="fixed-table">
  <div class="fixed-table__scroller">
      <table class="fixed-table__wrapper">
          <thead>
              <tr>
                <th class="fixed-table__sticky-col">Column One Title</th>
                <th class="align-right">Column Two Title</th>
                <th class="align-right">Column Three Title</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td class="fixed-table__sticky-col">First Row Title</td>
                <td class="align-right">99,999</td>
                <td class="align-right">99,999</td>
              </tr>
              <tr>
                <td class="fixed-table__sticky-col">Second Row Bold Title Example</td>
                <td class="align-right">99,999</td>
                <td class="align-right">99,999</td>
              </tr>
              <tr class="blue-total">
                <td class="fixed-table__sticky-col">Third Row Title</td>
                <td class="align-right">99,999</td>
                <td class="align-right">99,999</td>
              </tr>
              <tfoot>
                <tr class="yellow-total">
                  <td class="fixed-table__sticky-col">Total</td>
                  <td class="align-right">99,999</td>
                  <td class="align-right">99,999</td>
                </tr>
              </tfoot>
          </tbody>
      </table>
  </div>
</div>

<h1>Table with Sort Data Columns</h1>
<!-- Script used within script.js is required for  -->

<div class="fixed-table">
  <div class="fixed-table__scroller">
    <table id="sortTable" class="fixed-table__wrapper">
      <thead>
        <tr>
          <th class="fixed-table__sticky-col sorting-asc" data-sort="lastname" data-sort-onload="yes">Name</th>
          <th data-sort="int">Elected</th>
          <th data-sort="string">Department</th>
        </tr>
      </thead>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Aa</td>
        <td>1942</td>
        <td>Strategic Communications</td>
      </tr>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Bb</td>
        <td>1963</td>
        <td>External Affairs</td>
      </tr>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Cc</td>
        <td>1999</td>
        <td>Human Resources</td>
      </tr>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Dd</td>
        <td>2001</td>
        <td>Admissions</td>
      </tr>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Ee</td>
        <td>1910</td>
        <td>Dentistry</td>
      </tr>
      <tr>
        <td class="fixed-table__sticky-col">Kevin Ff</td>
        <td>2020</td>
        <td>Strategic Communications</td>
      </tr>
    </table>
  </div>
</div>

Responsive Table JSFiddle: https://jsfiddle.net/zinoui/BmLpV/
*******/

.fixed-table {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__scroller {
    margin-left: calc(36% + 16px); /* If you change this line you must also change the nested class ".fixed-table__sticy-col" width to match. */
    overflow-x: auto;
    overflow-y: visible;
    //padding-bottom: 5px;

    @media (min-width: breakpoint-min(md)) {
      overflow-x: visible;
      margin-left: 0;
    }
  }

  &__wrapper {
    border: none;
    border-spacing: 0;
    width: 100%;

    thead {
      th {
        font-size: 0.75rem;
        line-height: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $medium-grey4;
        padding: 12px 16px 8px;
        word-wrap: break-word;
        text-align: left;

        &.align-right {
          text-align: right;
        }
      }
    }

    @-moz-document url-prefix() {
      .fixed-table__sticky-col {
        margin-top: -24px;

        @media (min-width: breakpoint-min(md)) {
          margin-top: 0;
        }
      }
    }

    tbody {
      & > tr:nth-child(odd),
      & > tr:nth-child(odd) td:nth-child(1) {
        background-color: $lightest-grey-2;
      }

      & > tr:nth-child(even),
      & > tr:nth-child(even) td:nth-child(1) {
        background-color: $white;
      }

      & > tr.blue-total,
      & > tr.blue-total td:nth-child(1) {
        background-color: $lightest-blue;
        font-weight: bold;
      }

      & > tr.yellow-total,
      & > tr.yellow-total td:nth-child(1) {
        background-color: $ucla-gold;
        font-weight: bold;

        & > td {
          border: none;
        }
      }

      td {
        font-size: 0.8rem;
        line-height: 1rem;
        color: $grey-80;
        padding: 12px 16px 8px;
        word-wrap: break-word;
      }
    }

    tfoot {
      & > tr.blue-total,
      & > tr.blue-total td:nth-child(1) {
        background-color: $lightest-blue;
        font-weight: bold;
      }

      & > tr.yellow-total,
      & > tr.yellow-total td:nth-child(1) {
        background-color: $ucla-gold;
        font-weight: bold;

        & > td {
          border: none;
        }
      }

      td {
        font-size: 0.8rem;
        line-height: 1rem;
        color: $grey-80;
        padding: 12px 16px 8px;
        word-wrap: break-word;
      }
    }
  }

  &__sticky-col {
    left: 0;
    position: absolute;
    top: auto;
    width: 36%; /* If you change this line change you must also change the parent class ".fixed-table__scroller" margin-left to match. */
    overflow-y: scroll;
    font-weight: bold;

    @media (min-width: breakpoint-min(md)) {
      min-width: 300px;
      position: relative;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 8px;

    &-track {
      box-shadow: inset 0 -1px 0 0 $grey-10, inset 0 1px 0 0 $grey-10;
      border-radius: 4px;
    }

    &-thumb {
      background: $default-state;
      border-radius: 4px;

      &:hover {
        background: $hover-state;
      }
    }
  }
}
