// override base styles for ul and li
ul li.tile::before {
  content: "";
  margin-left: 0;
  padding-right: 0;
}

ul.tile__section {
  padding-left: 0;
}

// TODO: remove .campus selector after merging in latest from develop branch. this was modified in CL issue 20
.ucla.campus a.tile__link {
  &:link {
    background-color: rgba(0, 89, 140, 0.85); //must be rgba to set opacity for bg only
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 121, 191, 0.85);
  }

  &:active {
    background-color: rgba(0, 59, 92, 0.85);
  }
}
// end base styles override

.tile {
  background-color: red;

  &__image {
    background: $default-state url("/img/examples/tile-example.jpg") no-repeat center;
    display: block;
    margin: 0 auto;
    background-size: cover;

    @media (min-width: breakpoint-min(md)) {
      $tile-width: 276px; // desired tile max-width

      max-width: $tile-width;
    }
  }

  &__link {
    $tile-height: 108px; // desired tile height
    $tile-px: 10px; // padding left and right
    $tile-pt: 10px; // padding top
    $tile-pb: 10px; // padding bottom

    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 500px; //arbitrarily large value
    max-height: calc(#{$tile-height} - #{$tile-pt} - #{$tile-pb});
    padding: $tile-pt $tile-px $tile-pb;

    @media (min-width: breakpoint-min(md)) {
      $tile-height: 184px; // desired tile height
      $tile-px: 32px; // padding left and right
      $tile-pt: 32px; // padding top
      $tile-pb: 60px; // padding bottom

      max-height: calc(#{$tile-height} - #{$tile-pt} - #{$tile-pb});
      padding: $tile-pt $tile-px $tile-pb;
    }

    h3 {
      color: $white;
      line-height: 30px;
    }
  }
}
