<h3>Full Width Alerts</h3>

<h4>Primary</h4>
<figure class="alert primary" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<h4>Secondary</h4>
<figure class="alert secondary" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<h4>Success</h4>
<figure class="alert success" role="alert">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<h4>Error</h4>
<figure class="alert error" role="alert">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<h4>Warning</h4>
<figure class="alert warning" role="alert">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>

<h3>Inline Block Alerts</h3>

<h4>Primary</h4>
<figure class="alert primary inline-block" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<h4>Secondary</h4>
<figure class="alert secondary inline-block" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<h4>Success</h4>
<figure class="alert success inline-block" role="alert">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<h4>Error</h4>
<figure class="alert error inline-block" role="alert">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<h4>Warning</h4>
<figure class="alert warning inline-block" role="alert">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>
