<h3>Full Width Alerts</h3>

<h4>Primary</h4>
<figure class="alert__primary" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<h4>Secondary</h4>
<figure class="alert__secondary" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<h4>Success</h4>
<figure class="alert__success" role="alert">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<h4>Error</h4>
<figure class="alert__error" role="alert">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<h4>Warning</h4>
<figure class="alert__warning" role="alert">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>

<h3>Inline Block Alerts</h3>

<h4>Primary</h4>
<figure class="alert__primary inline-block" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<h4>Secondary</h4>
<figure class="alert__secondary inline-block" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<h4>Success</h4>
<figure class="alert__success inline-block" role="alert">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<h4>Error</h4>
<figure class="alert__error inline-block" role="alert">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<h4>Warning</h4>
<figure class="alert__warning inline-block">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>
