<h2 class="mt-24">Post Tiles</h2>
<!-- Without Media -->
<h3>Without Media</h3>
<div class="social-tile">
  <a class="social-tile__link" href="http://twitter.com/UCLA">
    <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
    <div class="social-tile__info">
      <span class="social-tile__handle">@UCLA</span>
      <span class="social-tile__timestamp">5 hours ago</span>
    </div>
    <img class="social-tile__logo" src="{{path '/icons/social/twitter--white.svg'}}" alt="Twitter">
  </a>
</div>

<h3 class="mt-12">With Media</h3>
<!-- Has Media -->
<div class="social-tile">
  <a class="social-tile__link has-media" href="https://www.instagram.com/ucla">
    <img class="social-tile__media" src="{{path '/img/example-post.jpg'}}" alt="Student walking on campus after rain.">
    <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
    <div class="social-tile__info">
      <span class="social-tile__handle">@UCLA</span>
      <span class="social-tile__timestamp">1 day ago</span>
    </div>
    <img class="social-tile__logo" src="{{path '/icons/social/instagram--white.svg'}}" alt="instagram">
  </a>
</div>
