/*
 * UCLA Lists styles
 */

.Prose {
  ul {
    list-style: none !important;
    line-height: 24px !important;

    li {
      margin-bottom: 12px !important;

      &::before {
        content: "\25AA" !important;
        font-weight: bold !important;
        color: $ucla-blue !important;
        display: inline-block !important;
        width: 1em !important;
        margin-left: -1em !important;
      }

      li &::before {
        content: "\25A1" !important;
      }
    }
  }


  ol {
    list-style: none !important;
    counter-reset: li !important;
    line-height: 24px !important;

    li {
      margin-bottom: 12px !important;
      counter-increment: li !important;

      &::before {
        content: counter(li) "." !important;
        color: $ucla-blue !important;
        display: inline-block !important;
        width: 1em !important;
        margin-left: -1em !important;
      }
    }
  }
}
