/***************** STOP!!! READ THIS!! *****************/
// These are mandlebrot theme styles here only. DO NOT put component related styles here. Those belong in ./src/scss
// https://fractal.build/guide/web/default-theme.html#default-theme-mandelbrot

.Header {
  background-color: #2774AE;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

a {
  font: $font;
  color: $default-state;

  &:hover {
    color: white;
    background: $hover-state;
  }

  &:active {
    //color: white;
    background: $active-state;
  }

  &:focus {
    outline: 1px dotted $hover-state;
    outline-offset: -4px;
  }

  // &:visited {
  //   color: $visited-state;
  //
  //   &:hover {
  //     color: white;
  //   }
  // }

  &.white {
    color: white;

    &:hover {
      color: $grey-80;
      background: $hover-state-dark;
    }

    &:active {
      color: $grey-80;
      background: $active-state-dark;
    }

    &:focus {
      outline: 1px dotted $hover-state;
      outline-offset: -4px;
    }

    // &:visited {
    //   color: white;
    //
    //   &:hover {
    //     color: $grey-80;
    //   }
    // }
  }
}

.Header-button {
  background: $default-state;
}

// Sidebar Nav
.Frame-panel--sidebar {
  background-color: white;

  .Navigation {
    background-color: white;

    .Tree {
      a {
        &:hover {
          color: $grey-80;
        }
      }

      &-item {
        border-bottom: 1px solid $medium-grey3;
        background-color: white;

        &:last-of-type {
          border-bottom: 0;
        }

        &.is-closed {
          background-color: white;
        }
      }
    }
  }
}
