@use "colors";

// Background Utilities
.has-background-grey-40 {
  background: colors.$grey-40;
}

.has-background-lightest-grey-2 {
  background: colors.$lightest-grey-2;
}

.has-background-light-grey {
  background: colors.$light-grey;
}

.has-background-ucla-blue {
  background: colors.$ucla-blue;
}

.has-background-white {
  background: colors.$white;
}
