@use "_mixins/breakpoints";
@use "_mixins/helper";
@use "colors";
@use "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 16px;
  color: colors.$grey-80;
  font-family: variables.$font;
  font-weight: bold;
  line-height: 1.125;
}

h1,
.h1 {
  font-size: variables.$ucla-font-size-xx-large;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    font-size: variables.$ucla-font-size-xxx-large;
  }
}

h2,
.h2 {
  font-size: variables.$ucla-font-size-x-large;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    font-size: variables.$ucla-font-size-xx-large;
  }
}

h3,
.h3 {
  font-size: variables.$ucla-font-size-large;
}

h4,
.h4 {
  font-size: variables.$ucla-font-size-medium;
}

h5,
.h5 {
  font-size: variables.$ucla-font-size-default;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: variables.$ucla-font-size-xx-small;
  line-height: 1.33;
}

p {
  font-size: variables.$ucla-font-size-default;
  line-height: 1.5;
  color: colors.$grey-80;
  margin-bottom: 1em;

  strong {
    font-weight: bold;
  }

  small {
    font-size: variables.$ucla-font-size-xx-small;
    line-height: 1.33;
  }

  em {
    font-style: italic;
  }
}

.lead {
  font-size: variables.$ucla-font-size-large;
  line-height: 1.33;
}

.body-copy-small {
  font-size: variables.$ucla-font-size-xx-small;
  line-height: 1.5;
  color: #333;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.mark-text {
  background: #fff0a5;
}

.insert-text {
  background: #daebfe;
}

.has-white-text {
  color: colors.$white;

  @include helper.is-white-text; // located in /utilities/_mixins/_helper.scss

  > div,
  > aside {
    @include helper.is-white-text; // located in /utilities/_mixins/_helper.scss
  }
}
