/* ------------------------------------*\
    $VARIABLES
\*------------------------------------ */

// Typography
$font: "Helvetica", "Arial", sans-serif;
$font-secondary: "Helvetica", "Arial", sans-serif;
$font-size-base: 100%;
$corner-radius: 4px;

/*
 * Grid parameter defaults
 * These are used to customize the grid layout
 * Feel free to overwrite them as necessary
 */

$grid-breakpoints: (
  na: 0,
  xs: 480px,
  sm: 600px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;
