<div class="social-links">
  <a href="https://www.facebook.com/UCLA/">
    <svg class="social-links--facebook"></svg>
  </a>

  <a href="https://twitter.com/ucla">
    <svg class="social-links--twitter"></svg>
  </a>

  <a href="https://www.instagram.com/ucla/">
    <svg class="social-links--instagram"></svg>
  </a>

  <a href="https://www.snapchat.com/add/uclaofficial">
    <svg class="social-links--snapchat"></svg>
  </a>

  <a href="https://www.linkedin.com/company/ucla">
    <svg class="social-links--linkedin"></svg>
  </a>

  <a href="https://www.youtube.com/user/UCLA">
    <svg class="social-links--youtube"></svg>
  </a>

  <a href="https://www.tiktok.com/@ucla">
    <svg class="social-links--tiktok"></svg>
  </a>
</div>

<div class="social-links--blue">
  <a href="https://www.facebook.com/UCLA/">
    <svg class="social-links--facebook"></svg>
  </a>

  <a href="https://twitter.com/ucla">
    <svg class="social-links--twitter"></svg>
  </a>

  <a href="https://www.instagram.com/ucla/">
    <svg class="social-links--instagram"></svg>
  </a>

  <a href="https://www.snapchat.com/add/uclaofficial">
    <svg class="social-links--snapchat"></svg>
  </a>

  <a href="https://www.linkedin.com/company/ucla">
    <svg class="social-links--linkedin"></svg>
  </a>

  <a href="https://www.youtube.com/user/UCLA">
    <svg class="social-links--youtube"></svg>
  </a>

  <a href="https://www.tiktok.com/@ucla">
    <svg class="social-links--tiktok"></svg>
  </a>
</div>

<div class="social-tile-container">
  <div class="social-tile">
    <a class="social-tile__twitter"href="http://twitter.com/UCLA">
      <div class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">5 hours ago</span>
      </div>
    </a>
  </div>

  <div class="social-tile">
    <a class="social-tile__twitter" href="http://twitter.com/UCLA">
      <div class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">5 hours ago</span>
      </div>
    </a>
  </div>

  <div class="social-tile">
    <a class="social-tile__instagram" href="https://www.instagram.com/ucla">
      <img class="social-tile__photo" src="/img/example-post.jpg" alt="Student walking on campus after rain.">
      <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">1 day ago</span>
      </div>
    </a>
  </div>

  <div class="social-tile">
    <a class="social-tile__instagram" href="https://www.instagram.com/ucla">
      <img class="social-tile__photo"src="/img/example-post.jpg" alt="Student walking on campus after rain.">
      <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">1 day ago</span>
      </div>
    </a>
  </div>
</div>