<h2 id="block-socialmedia-menu">Social Media</h2>

<div class="social-feed">
  <div class="social-tile social-tile--twitter">
    <a href="http://twitter.com">
      <div class="social-tile__text">Hello. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</div>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">5 hours ago</span>
      </div>
    </a>
  </div>

  <div class="social-tile social-tile--instagram">
    <a href="http://instagram.com">
      <div class="social-tile__text">Hello. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</div>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span><br />
        <span class="social-tile__timestamp">1 day ago</span>
      </div>
    </a>
  </div>
</div>
