<!-- Social Media Links (White BG) -->
<div class="social-links-container">
  <a class="social-icon"href="https://www.facebook.com/UCLA/"><span class="social-icon--facebook"></span><span class="visuallyhidden">Facebook</span></a>
  <a href="https://twitter.com/ucla"><span class="social-icon--twitter"></span><span class="visuallyhidden">Twitter</span></a>
  <a href="https://www.instagram.com/ucla/"><span class="social-icon--instagram"></span><span class="visuallyhidden">Instagram</span></a>
  <a href="https://www.snapchat.com/add/uclaofficial"><span class="social-icon--snapchat"></span><span class="visuallyhidden">Snapchat</span></a>
  <a href="https://www.linkedin.com/company/ucla"><span class="social-icon--linkedin"></span><span class="visuallyhidden">Linked</span></a>
  <a href="https://www.youtube.com/user/UCLA"><span class="social-icon--youtube"></span><span class="visuallyhidden">Youtube</span></a>
  <a href="https://www.tiktok.com/@ucla"><span class="social-icon--tiktok"></span><span class="visuallyhidden">Tiktok</span></a>
</div>

<!-- Social Media Links (Blue BG) -->
<div class="social-links-container--blue">
  <a class="social-icon"href="https://www.facebook.com/UCLA/"><span class="social-icon--facebook"></span><span class="visuallyhidden">Facebook</span></a>
  <a href="https://twitter.com/ucla"><span class="social-icon--twitter"></span><span class="visuallyhidden">Twitter</span></a>
  <a href="https://www.instagram.com/ucla/"><span class="social-icon--instagram"></span><span class="visuallyhidden">Instagram</span></a>
  <a href="https://www.snapchat.com/add/uclaofficial"><span class="social-icon--snapchat"></span><span class="visuallyhidden">Snapchat</span></a>
  <a href="https://www.linkedin.com/company/ucla"><span class="social-icon--linkedin"></span><span class="visuallyhidden">Linked</span></a>
  <a href="https://www.youtube.com/user/UCLA"><span class="social-icon--youtube"></span><span class="visuallyhidden">Youtube</span></a>
  <a href="https://www.tiktok.com/@ucla"><span class="social-icon--tiktok"></span><span class="visuallyhidden">Tiktok</span></a>
</div>
