<!-- Social Media Post Tiles -->
<div class="social-tile-container">
  <!-- Twitter -->
  <div class="social-tile">
    <a class="social-tile__twitter" href="http://twitter.com/UCLA">
      <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span>
        <span class="social-tile__timestamp">5 hours ago</span>
      </div>
    </a>
  </div>
  <!-- Instagram -->
  <div class="social-tile">
    <a href="https://www.instagram.com/ucla" class="social-tile__instagram">
      <img class="social-tile__photo" src="/img/example-post.jpg" alt="Student walking on campus after rain.">
      <p class="social-tile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
      <div class="social-tile__info">
        <span class="social-tile__handle">@UCLA</span>
        <span class="social-tile__timestamp">1 day ago</span>
      </div>
    </a>
  </div>
</div>