<!-- Social Media Links (White BG) -->
<div class="social-links-container">
  <a href="https://www.facebook.com/UCLA/"><svg class="social-icon--facebook"></svg></a>
  <a href="https://twitter.com/ucla"><svg class="social-icon--twitter"></svg></a>
  <a href="https://www.instagram.com/ucla/"><svg class="social-icon--instagram"></svg></a>
  <a href="https://www.snapchat.com/add/uclaofficial"><svg class="social-icon--snapchat"></svg></a>
  <a href="https://www.linkedin.com/company/ucla"><svg class="social-icon--linkedin"></svg></a>
  <a href="https://www.youtube.com/user/UCLA"><svg class="social-icon--youtube"></svg></a>
  <a href="https://www.tiktok.com/@ucla"><svg class="social-icon--tiktok"></svg></a>
</div>

<!-- Social Media Links (Blue BG) -->
<div class="social-links-container--blue">
  <a href="https://www.facebook.com/UCLA/"><svg class="social-icon--facebook"></svg></a>
  <a href="https://twitter.com/ucla"><svg class="social-icon--twitter"></svg></a>
  <a href="https://www.instagram.com/ucla/"><svg class="social-icon--instagram"></svg></a>
  <a href="https://www.snapchat.com/add/uclaofficial"><svg class="social-icon--snapchat"></svg></a>
  <a href="https://www.linkedin.com/company/ucla"><svg class="social-icon--linkedin"></svg></a>
  <a href="https://www.youtube.com/user/UCLA"><svg class="social-icon--youtube"></svg></a>
  <a href="https://www.tiktok.com/@ucla"><svg class="social-icon--tiktok"></svg></a>
</div>