<div class="social-links">
  <a href="https://www.facebook.com/UCLA/">
    <svg class="social-links--facebook"></svg>
  </a>

  <a href="https://twitter.com/ucla">
    <svg class="social-links--twitter"></svg>
  </a>

  <a href="https://www.instagram.com/ucla/">
    <svg class="social-links--instagram"></svg>
  </a>

  <a href="https://www.snapchat.com/add/uclaofficial">
    <svg class="social-links--snapchat"></svg>
  </a>

  <a href="https://www.linkedin.com/company/ucla">
    <svg class="social-links--linkedin"></svg>
  </a>

  <a href="https://www.youtube.com/user/UCLA">
    <svg class="social-links--youtube"></svg>
  </a>

  <a href="https://www.tiktok.com/@ucla">
    <svg class="social-links--tiktok"></svg>
  </a>
</div>

<div class="social-links--blue">
  <a href="https://www.facebook.com/UCLA/">
    <svg class="social-links--facebook"></svg>
  </a>

  <a href="https://twitter.com/ucla">
    <svg class="social-links--twitter"></svg>
  </a>

  <a href="https://www.instagram.com/ucla/">
    <svg class="social-links--instagram"></svg>
  </a>

  <a href="https://www.snapchat.com/add/uclaofficial">
    <svg class="social-links--snapchat"></svg>
  </a>

  <a href="https://www.linkedin.com/company/ucla">
    <svg class="social-links--linkedin"></svg>
  </a>

  <a href="https://www.youtube.com/user/UCLA">
    <svg class="social-links--youtube"></svg>
  </a>

  <a href="https://www.tiktok.com/@ucla">
    <svg class="social-links--tiktok"></svg>
  </a>
</div>