<div id="nav-second" class="nav-secondary" aria-label="Secondary Menu">
  <ul class="nav-secondary__list">
    <li class="nav-secondary__item">
      <a class="nav-secondary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-secondary__item">
      <a class="nav-secondary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-secondary__item">
      <a class="nav-secondary__link nav-secondary__link--active" href="#">Nav Item</a>
    </li>
  </ul>
</div>