<button id="primary-ham" class="hamburger" type="button" aria-label="Menu" aria-controls="navigation" alt="navigation and search">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>