<div class="ucla campus">
  <ul class="breadcrumb">
    <li class="breadcrumb__item breadcrumb__item--first">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb__item">
      <a href="#">Breadcrumb 1</a>
    </li>
    <li class="breadcrumb__item">
      <a href="#">Breadcrumb 2</a>
    </li>
  </ul>
</div>
