<h2 class="mt-24">Checkbox Input</h2>
<div class="checkbox" style="margin-left: 10px; margin-top: 10px;">
  <input type="checkbox" class="checkbox__input" name="example_checkbox"/>
  <label class="checkbox__label" for="example_checkbox">Textbox label</label>
</div>
