<h2 class="mt-24">Radio Input</h2>
<div class="radio" style="margin-left: 5px">
  <input class="radio__input" type="radio" name="radio" value="radio1">
  <label class="radio__label" for="">Radio 1</label>
  <input class="radio__input" type="radio" name="radio" value="radio2">
  <label class="radio__label" for="">Radio 2</label>
</div>
