<h4>Full Width Alert</h4>

<figure class="alert alert--secondary" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<br/>

<h4>Inline Block Alert</h4>

<figure class="alert alert--secondary inline-block" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>
