<figure class="alert alert--secondary" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<h4></h4>

<figure class="alert alert--secondary inline-block" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>
