<figure class="alert alert--error" role="alert">
  <img src="{{path '/icons/denotive/form-error.svg'}}" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<h4></h4>

<figure class="alert alert--error inline-block" role="alert">
  <img src="{{path '/icons/denotive/form-error.svg'}}" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>
