<h4>Full Width Alert</h4>
<figure class="alert alert--warning" role="alert">
  <img src="{{path '/icons/denotive/form-warning.svg'}}" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>

<h4></h4>

<h4>Inline Block Alert</h4>

<figure class="alert alert--warning inline-block" role="alert">
  <img src="{{path '/icons/denotive/form-warning.svg'}}" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>
