<footer>
  <div class="footer__global">
    <div class="footer__global--copyright">
      &copy; 2021 Regents of the University of California
    </div>
    <div class="footer__global--links">
      <ul>
        <li><a href="https://www.bso.ucla.edu/">Emergency</a></li>
        <li><a href="http://www.ucla.edu/accessibility">Accessibility</a></li>
        <li><a href="http://www.ucla.edu/terms-of-use/">Privacy &amp; Terms of Use</a></li>
      </ul>
    </div>
    <div class="footer__global--social">
		<a href="#" tabindex="1" class="footer__global--social-facebook">
		  <span>
			<object tabindex="-1" data="/img/icons/social/facebook--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-twitter">
		  <span>
			<object tabindex="-1" data="/img/icons/social/twitter--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-instagram">
		  <span>
			<object tabindex="-1" data="/img/icons/social/instagram--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-snapchat">
		  <span>
			<object tabindex="-1" data="/img/icons/social/snapchat--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-linkedin">
		  <span>
			<object tabindex="-1" data="/img/icons/social/linkedin--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-youtube">
		  <span>
			<object tabindex="-1" data="/img/icons/social/youtube--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
		<a href="#" tabindex="1" class="footer__global--social-tiktok">
		  <span>
			<object tabindex="-1" data="/img/icons/social/tiktok--brand.svg" type="image/svg+xml"></object>
		  </span>
		</a>
	</div>
  </div>
</footer>
