<footer>
  <div class="footer__global">
    <div class="footer__global--copyright">
      &copy; 2021 Regents of the University of California
    </div>
    <div class="footer__global--links">
      <ul>
        <li><a href="https://www.bso.ucla.edu/">Emergency</a></li>
        <li><a href="http://www.ucla.edu/accessibility">Accessibility</a></li>
        <li><a href="http://www.ucla.edu/terms-of-use/">Privacy &amp; Terms of Use</a></li>
      </ul>
    </div>
    <div class="footer__global--social">
      <a href="#" tabindex="1"><svg class="footer__global--social-facebook"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-twitter"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-instagram"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-snapchat"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-linkedin"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-youtube"></svg></a>
      <a href="#" tabindex="1"><svg class="footer__global--social-tiktok"></svg></a>
    </div>
  </div>
</footer>
