<footer id="footer" role="contentinfo" class="footer">
	<!-- Department Footer -->
	<div class="footer__dept">

		<img class="footer__dept--logo" src="/img/examples/footer-stratcomm-logo.svg" alt="Strategic Communications Logo">

		<div class="footer__dept--info">
			<address class="footer__dept--contact">
				<p>10889 Wilshire Blvd., Suite 1400</p>
				<p>Los Angeles, CA 90024</p>
				<p>(626) 123-4567</p>
				<p>contact@stratcomm.ucla.edu</p>
			</address>
			<div class="footer__dept--social">
				<a href="#"><svg class="footer__dept--social-facebook"></svg></a>
				<a href="#"><svg class="footer__dept--social-twitter"></svg></a>
				<a href="#"><svg class="footer__dept--social-instagram"></svg></a>
				<a href="#"><svg class="footer__dept--social-snapchat"></svg></a>
				<a href="#"><svg class="footer__dept--social-linkedin"></svg></a>
				<a href="#"><svg class="footer__dept--social-youtube"></svg></a>
				<a href="#"><svg class="footer__dept--social-tiktok"></svg></a>
			</div>
		</div>

		<nav class="footer__dept--links">
			<ul>
				<li>Heading</li>
				<li><a href="#">A Link</a></li>
				<li><a href="#">A Link</a></li>
			</ul>
			<ul>
				<li>Heading</li>
				<li><a href="#">A Link</a></li>
				<li><a href="#">A Link</a></li>
			</ul>
			<ul>
				<li>Heading</li>
				<li><a href="#">A Link</a></li>
				<li><a href="#">A Link</a></li>
			</ul>
			<ul>
				<li>Heading</li>
				<li><a href="#">A Link</a></li>
				<li><a href="#">A Link</a></li>
			</ul>
			<ul>
				<li>Heading</li>
				<li><a href="#">A Link</a></li>
				<li><a href="#">A Link</a></li>
			</ul>
		</nav>
	</div>

	<!-- Email Sign Up -->
	<div class="email">

	  <h3 class="email__heading">SIGN UP</h3>
	  <p class="email__description">Get the latest news, stories, and events from UCLA Strategic Communications</p>

	  <form class="email__form" method="post" action="#">
	    <div class="email__input-container">
	      <div class="email__input email__input-email">
	        <label class="email__input-label" for="Email">Email</label>
	        <input type="text" class="email__input-text" name="Email" label="Email" placeholder="joebruin@ucla.edu" aria-label="Your Email Address" required>
	      </div>
	      <div class="email__input email__input-firstname">
	        <label class="email__input-label" for="First_Name">First Name</label>
	        <input type="text" class="email__input-text" name="First_Name" label="FirstName" aria-label="Your First Name" required>
	      </div>
	      <div class="email__input email__input-lastname">
	        <label class="email__input-label" for="Last_Name">Last Name</label>
	        <input type="text" class="email__input-text" name="Last_Name" label="LastName" aria-label="Your Last Name" required>
	      </div>
	      <div class="email__input email__input-zipcode">
	        <label class="email__input-label" for="Zip">Zip Code</label>
	        <input type="text" class="email__input-text" name="Zip"  label="ZipCode" aria-label="Your Zipcode" required>
	      </div>
	      <div class="email__input email__input-button">
	        <input class="email__input-submit" type="submit" value="Sign Up" aria-label="Sign Up">
	      </div>
	    </div>
	  </form>

	  <p class="email__legal-text">
	    You may unsubscribe at any time. Zip code is used to improve the content we share. Refer to our <a class="email__legal-link" href="/terms-of-use/">Terms of Use</a> for more information on how we store and protect your data.
	  </p>

	</div>


	<!-- Global Footer -->
	<div class="footer__global">
		<div class="footer__global--copyright">
			&copy; 2021 Regents of the University of California
		</div>
		<div class="footer__global--links">
			<ul>
				<li><a href="https://www.bso.ucla.edu/">Emergency</a></li>
				<li><a href="http://www.ucla.edu/accessibility">Accessibility</a></li>
				<li><a href="http://www.ucla.edu/terms-of-use/">Privacy &amp; Terms of Use</a></li>
			</ul>
		</div>
		<div class="footer__global--social">
			<a href="#"><svg class="footer__global--social-facebook"></svg></a>
			<a href="#"><svg class="footer__global--social-twitter"></svg></a>
			<a href="#"><svg class="footer__global--social-instagram"></svg></a>
			<a href="#"><svg class="footer__global--social-snapchat"></svg></a>
			<a href="#"><svg class="footer__global--social-linkedin"></svg></a>
			<a href="#"><svg class="footer__global--social-youtube"></svg></a>
			<a href="#"><svg class="footer__global--social-tiktok"></svg></a>
		</div>
	</div>
</footer>
