<h3>Denotive Icons</h3>
<h4>Arrow Down</h4>
<img alt="down-arrow" src="/img/icons/arrow-down-black.svg">
<img alt="down-arrow" src="/img/icons/arrow-down-white.svg">
<img alt="down-arrow" src="/img/icons/arrow-down-blue.svg">
<h4>Arrow Left</h4>
<img alt="left-arrow" src="/img/icons/arrow-left-black.svg">
<img alt="left-arrow" src="/img/icons/arrow-left-white.svg">
<img alt="left-arrow" src="/img/icons/arrow-left-blue.svg">
<h4>Arrow Right</h4>
<img alt="right-arrow" src="/img/icons/arrow-right-black.svg">
<img alt="right-arrow" src="/img/icons/arrow-right-white.svg">
<img alt="right-arrow" src="/img/icons/arrow-right-blue.svg">
<h4>Arrow Up</h4>
<img alt="up-arrow" src="/img/icons/arrow-up-black.svg">
<img alt="up-arrow" src="/img/icons/arrow-up-white.svg">
<img alt="up-arrow" src="/img/icons/arrow-up-blue.svg">
<h4>Arrow Forward</h4>
<img alt="forward-arrow" src="/img/icons/arrow-forward-black.svg">
<img alt="forward-arrow" src="/img/icons/arrow-forward-white.svg">
<img alt="forward-arrow" src="/img/icons/arrow-forward-blue.svg">
<h4>Close</h4>
<img alt="close" src="/img/icons/close-black.svg">
<img alt="close" src="/img/icons/close-white.svg">
<img alt="close" src="/img/icons/close-blue.svg">
<h4>Download</h4>
<img alt="download" src="/img/icons/download-black.svg">
<img alt="download" src="/img/icons/download-white.svg">
<img alt="download" src="/img/icons/download-blue.svg">
<h4>External Link</h4>
<img alt="external-link" src="/img/icons/external-link-black.svg">
<img alt="external-link" src="/img/icons/external-link-white.svg">
<img alt="external-link" src="/img/icons/external-link-blue.svg">
<h4>Menu</h4>
<img alt="menu" src="/img/icons/menu-black.svg">
<img alt="menu" src="/img/icons/menu-white.svg">
<img alt="menu" src="/img/icons/menu-blue.svg">
<h4>Sort</h4>
<img alt="sort-ascending" src="/img/icons/sort-ascending-black.svg">
<img alt="sort-descending" src="/img/icons/sort-descending-black.svg">
<h4>Time</h4>
<img alt="time" src="/img/icons/time-black.svg">
<img alt="time" src="/img/icons/time-white.svg">
<img alt="time" src="/img/icons/time-blue.svg">
<h4>Play</h4>
<img alt="play" src="/img/icons/play-black.svg">
<img alt="play" src="/img/icons/play-white.svg">
<img alt="play" src="/img/icons/play-blue.svg">
<h4>Search</h4>
<img alt="search" src="/img/icons/search-icon-666.svg">
<img alt="search" src="/img/icons/search-icon-white.svg">
<img alt="search" src="/img/icons/search-icon-blue.svg">
<h4>Location</h4>
<img alt="location" src="/img/icons/location-black.svg">
<img alt="location" src="/img/icons/location-white.svg">
<img alt="location" src="/img/icons/location-blue.svg">
<h4>Clear</h4>
<img alt="clear" src="/img/icons/clear-666.svg">
<img alt="clear" src="/img/icons/clear-white.svg">
<img alt="clear" src="/img/icons/clear-blue.svg">
<h4>Form Submission</h4>
<img alt="error" src="/img/icons/error-red.svg">
<img alt="success" src="/img/icons/success-green.svg">
<h4>Informational</h4>
<img alt="warning" src="/img/icons/warning-orange.svg">
<img alt="information" src="/img/icons/information-alertBlue.svg">
