<h3>Social Icons</h3>
<img alt="Linkedin Black" src="/img/social-icons/linkedin-black.svg">
<img alt="Linkedin Color" src="/img/social-icons/linkedin-color.svg">
<img alt="Twitter Black" src="/img/social-icons/twitter-black.svg">
<img alt="Twitter Color" src="/img/social-icons/twitter-color.svg">
<img alt="Facebook Black" src="/img/social-icons/facebook-black.svg">
<img alt="Facebook Color" src="/img/social-icons/facebook-color.svg">
<img alt="Instagram Black" src="/img/social-icons/instagram-black.svg">
<img alt="Instagram Color" src="/img/social-icons/instagram-color.svg">
<img alt="Youtube Black" src="/img/social-icons/youtube-black.svg">
<img alt="Youtube Color" src="/img/social-icons/youtube-color.svg">
<img alt="Tiktok Black" src="/img/social-icons/tiktok-black.svg">
<img alt="Tiktok Color" src="/img/social-icons/tiktok-color.svg">
