<!-- Time Black -->
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Time Black</title>
    <g id="Iconography" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons-v2" transform="translate(-1215.000000, -226.000000)" fill="#000000">
            <g id="time" transform="translate(1211.000000, 222.000000)">
                <path d="M23.98,4 C35.04,4 44,12.96 44,24 C44,35.04 35.04,44 23.98,44 C12.94,44 4,35.04 4,24 C4,12.96 12.94,4 23.98,4 Z M24,8 C15.16,8 8,15.16 8,24 C8,32.84 15.16,40 24,40 C32.84,40 40,32.84 40,24 C40,15.16 32.84,8 24,8 Z M25,14 L25,24.5 L34,29.84 L32.5,32.3 L22,26 L22,14 L25,14 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </g>
</svg>

<!-- Time White -->
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Time White</title>
    <g id="Iconography" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons-v2" transform="translate(-1215.000000, -226.000000)" fill="#ffffff">
            <g id="time" transform="translate(1211.000000, 222.000000)">
                <path d="M23.98,4 C35.04,4 44,12.96 44,24 C44,35.04 35.04,44 23.98,44 C12.94,44 4,35.04 4,24 C4,12.96 12.94,4 23.98,4 Z M24,8 C15.16,8 8,15.16 8,24 C8,32.84 15.16,40 24,40 C32.84,40 40,32.84 40,24 C40,15.16 32.84,8 24,8 Z M25,14 L25,24.5 L34,29.84 L32.5,32.3 L22,26 L22,14 L25,14 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </g>
</svg>

<!-- Time Blue -->
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Time Blue</title>
    <g id="Iconography" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons-v2" transform="translate(-1215.000000, -226.000000)" fill="#00598C">
            <g id="time" transform="translate(1211.000000, 222.000000)">
                <path d="M23.98,4 C35.04,4 44,12.96 44,24 C44,35.04 35.04,44 23.98,44 C12.94,44 4,35.04 4,24 C4,12.96 12.94,4 23.98,4 Z M24,8 C15.16,8 8,15.16 8,24 C8,32.84 15.16,40 24,40 C32.84,40 40,32.84 40,24 C40,15.16 32.84,8 24,8 Z M25,14 L25,24.5 L34,29.84 L32.5,32.3 L22,26 L22,14 L25,14 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </g>
</svg>
