<div class="ucla campus example">
	<div class="col span_1_of_5">
	1 of 5
	</div>
	<div class="col span_1_of_5">
	2 of 5
	</div>
	<div class="col span_1_of_5">
	3 of 5
	</div>
  <div class="col span_1_of_5">
	4 of 5
	</div>
  <div class="col span_1_of_5">
	5 of 5
	</div>
</div>
