<div class="ucla campus example">
	<div class="col span_1_of_6">
	1 of 6
	</div>
	<div class="col span_1_of_6">
	2 of 6
	</div>
	<div class="col span_1_of_6">
	3 of 6
	</div>
  <div class="col span_1_of_6">
	4 of 6
	</div>
  <div class="col span_1_of_6">
	5 of 6
	</div>
  <div class="col span_1_of_6">
	6 of 6
	</div>
</div>
