<h2 class="mt-24">Nested Columns</h2>
<div class="ucla campus example">

  <div class="col span_9_of_12">

    <div class="ucla campus">
      <div class="col span_12_of_12">
        Body Content 12 of 12
      </div>
    </div>

    <div class="ucla campus">
      <div class="col span_6_of_12">
        Body Content 6 of 6
      </div>
      <div class="col span_6_of_12">
        Body Content 6 of 6
      </div>
    </div>

  </div>

  <div class="col span_3_of_12">
    Menu content
  </div>

</div>
