<article class="event-card">
  <a class="event-card__link" href="#">
    <img class="event-card__image" src="{{path '/img/examples/event-card-example-1.jpg'}}" alt="Two children on their phones under the blankets">
    <h1 class="event-card__title"><span>{{ title }}</span></h1>
  </a>
  <div class="event-card-info">
    <div class="event-card-info__date">
      <span class="small-block">
        <span class="event-card-info__day">Wed</span>
        <span class="event-card-info__month">Aug</span>
      </span>
      <span class="event-card-info__number">19</span>
    </div>
    <div class="event-card-info__time"><object class="event-card-icon__time" tabindex="-1" data="/icons/denotive/time--grey60.svg" type="image/svg+xml"></object>1 p.m. PDT | 4 p.m. EDT</div>
    <div class="event-card-info__location"><object class="event-card-icon__location" tabindex="-1" data="/icons/denotive/location--grey60.svg" type="image/svg+xml"></object>Moore Hall 100</div>
    <div class="event-card-info__description">{{ description }}</div>
  </div>
</article>
