<h2 class="mt-24">Info Card</h2>
<article class="info-card">
    <div class="info-card__wrapper">
        <h3 class="info-card__title">{{title}}</h3>
        <p class="info-card__description">{{ description }}</p>
        <div class="info-card__ctas">
            {{#each button}}
            <a href="{{link}}">{{cta-title}}</a>
            {{/each}}
        </div>
    </div>
</article>