<!-- Play Black -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <title>Play</title>
  <style type="text/css">
    .play--black{fill-rule:evenodd;clip-rule:evenodd;fill:#000;}
  </style>
  <g>
    <path class="play--black" d="M20,33l12-9l-12-9V33z M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M24,41
      c-9.4,0-17-7.6-17-17S14.6,7,24,7s17,7.6,17,17S33.4,41,24,41z"/>
  </g>
</svg>

<div style="background: #2774AE; display: inline-block;">
  <!-- Play White -->
  <svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
    <title>Play</title>
    <style type="text/css">
    	.play--white{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
    </style>
    <g>
    	<path class="play--white" d="M20,33l12-9l-12-9V33z M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M24,41
    		c-9.4,0-17-7.6-17-17S14.6,7,24,7s17,7.6,17,17S33.4,41,24,41z"/>
    </g>
  </svg>
</div>

<!-- Play Blue -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <title>Play</title>
  <style type="text/css">
    .play--blue{fill-rule:evenodd;clip-rule:evenodd;fill:#003B5C;}
  </style>
  <g>
    <path class="play--blue" d="M20,33l12-9l-12-9V33z M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M24,41
      c-9.4,0-17-7.6-17-17S14.6,7,24,7s17,7.6,17,17S33.4,41,24,41z"/>
  </g>
</svg>
