<!-- External Link Black -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
   <title>External Link</title>
<style type="text/css">
  .st0-black_external-link{fill-rule:evenodd;clip-rule:evenodd;fill:#000;}
</style>
<path class="st0-black" d="M31,38H10V17h7v-7h21v21h-7V38z M34.5,13.5h-14v14h14V13.5z M17,31V20.5h-3.5v14h14V31H17z"/>
</svg>

<div style="background: #2774AE; display: inline-block;">
  <!-- External Link White -->
  <svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
     <title>External Link</title>
  <style type="text/css">
  	.st0-white_external-link{fill-rule:evenodd;clip-rule:evenodd;fill:#fff;}
  </style>
  <path class="st0-white_external-link" d="M31,38H10V17h7v-7h21v21h-7V38z M34.5,13.5h-14v14h14V13.5z M17,31V20.5h-3.5v14h14V31H17z"/>
  </svg>
</div>

<!-- External Link Blue -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
   <title>External Link</title>
<style type="text/css">
  .st0-blue_external-link{fill-rule:evenodd;clip-rule:evenodd;fill:#00598C;}
</style>
<path class="st0-blue_external-link" d="M31,38H10V17h7v-7h21v21h-7V38z M34.5,13.5h-14v14h14V13.5z M17,31V20.5h-3.5v14h14V31H17z"/>
</svg>
