<!-- Error Red-->
<svg width="48px" height="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
   <title>Error</title>
<style type="text/css">
	.st0-red{fill-rule:evenodd;clip-rule:evenodd;fill:#D60000;}
</style>
<g>
	<path class="st0-red" d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M26,34h-4v-4h4V34z M26,26h-4V14h4V26z"/>
</g>
</svg>

<!-- Success Green -->
<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Success</title>
    <g id="Icon/success-green" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="valid" transform="translate(4.000000, 4.000000)" fill="#007339">
            <path d="M20,0 C31.045695,0 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 C8.954305,40 0,31.045695 0,20 C0,8.954305 8.954305,0 20,0 Z M28.371517,12.1216862 L18.2495391,22.2436641 L13.627483,17.6216081 C13.4645681,17.4586931 13.2012375,17.4586931 13.0383225,17.6216081 L10.1216862,20.5382444 C9.95877126,20.7011594 9.95877126,20.9644899 10.1216862,21.1274049 L17.9549588,28.9606775 C18.036208,29.0419266 18.1428735,29.0827595 18.2495391,29.0827595 C18.3562046,29.0827595 18.4628702,29.0419266 18.5441193,28.9606775 L31.8773138,15.627483 C32.0402287,15.4645681 32.0402287,15.2012375 31.8773138,15.0383225 L28.9606775,12.1216862 C28.7977625,11.9587713 28.5344319,11.9587713 28.371517,12.1216862 Z" id="Combined-Shape"></path>
        </g>
    </g>
</svg>

<svg width="48px" height="48px"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<style type="text/css">
	.st0-green{fill:#007339;}
</style>
<path class="st0-green" d="M0,0"/>
</svg>
