<!-- Down Arrow Black -->
<svg width="48px" height="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
   <title>Arrow Down</title>
<style type="text/css">
  .st0-black{fill-rule:evenodd;clip-rule:evenodd;fill:#000;}
</style>
<path class="st0-black" d="M14.8,17.2l9.2,9.2l9.2-9.2L36,20L24,32L12,20L14.8,17.2z"/>
</svg>

<!-- Down Arrow White -->
<div style="background: #2774AE; display: inline-block;">
  <svg width="48px" height="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
     <title>Arrow Down</title>
  <style type="text/css">
  	.st0-white{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
  </style>
  <path class="st0-white" d="M14.8,17.2l9.2,9.2l9.2-9.2L36,20L24,32L12,20L14.8,17.2z"/>
  </svg>
</div>

<!-- Down Arrow Blue -->
<svg width="48px" height="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
   <title>Arrow Down</title>
<style type="text/css">
  .st0-blue{fill-rule:evenodd;clip-rule:evenodd;fill:#00598C;}
</style>
<path class="st0-blue" d="M14.8,17.2l9.2,9.2l9.2-9.2L36,20L24,32L12,20L14.8,17.2z"/>
</svg>
