<!-- Right Arrow Black -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
  <title>Arrow Right</title>
  <style type="text/css">
  	.st0-black_arrow-right{fill-rule:evenodd;clip-rule:evenodd;fill:#000;}
  </style>
  <g>
  	<polygon class="st0-black_arrow-right" points="9,16.6 13.3,12 9,7.4 10.3,6 16,12 10.3,18 	"/>
  </g>
</svg>

<div style="background: #2774AE; display: inline-block;">
  <!-- Right Arrow White -->
  <svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
    <title>Arrow Right</title>
    <style type="text/css">
    	.st0-white_arrow-right{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
    </style>
    <g>
    	<polygon class="st0-white_arrow-right" points="9,16.6 13.3,12 9,7.4 10.3,6 16,12 10.3,18 	"/>
    </g>
  </svg>
</div>

<!-- Right Arrow Blue -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
  <title>Arrow Right</title>
  <style type="text/css">
    .st0-blue_arrow-right{fill-rule:evenodd;clip-rule:evenodd;fill:#00598C;}
  </style>
  <g>
    <polygon class="st0-blue_arrow-right" points="9,16.6 13.3,12 9,7.4 10.3,6 16,12 10.3,18 	"/>
  </g>
</svg>
