
<a class="create-button small" href="https://bitbucket.org/uclaucomm/ucla-bruin-components/issues?status=new&status=open">![bitbucket]({{path '/img/docs/bitbucket-icon-white.png'}}) Report an Issue</a>
<a class="create-button small" href="https://ucla.slack.com/archives/C01TW0HVB0Q">![Slack]({{path '/img/docs/slack-icon-white.png'}}) Join the Slack Discussion</a>
