<!-- Primary -->
<button class="btn btn--lightbg">Primary Button</button>
<button class="btn btn--lightbg icon--play">Primary Button with Leading Icon</button>
<button class="btn btn--lightbg icon--link">Primary Button with Trailing Icon</button>
<button class="btn btn--lightbg" disabled>Primary Button Disabled</button>

<!-- Primary (Dark Background) -->
<div class="ucla-blue">
  <button class="btn btn--darkbg">Primary Dark Background button</button>
  <button class="btn btn--darkbg icon--play">Primary Dark Background Btn with Leading Icon</button>
  <button class="btn btn--darkbg icon--link">Primary Dark Background Btn with Trailing Icon</button>
  <button class="btn btn--darkbg" disabled>Primary Dark Background Btn Disabled</button>
</div>