<div class="ucla campus">
  <!-- Primary Dark Background -->
  <button class="btn btn--darkbg">
    <span>Primary Dark Background Btn</span>
  </button>
</div>
<div class="ucla campus">
  <!-- Primary Dark Background -->
  <a class="btn btn--darkbg" href="#">
    Primary Dark Background Btn
  </a>
</div>
