<!-- Secondary -->
<button class="btn btn--secondary">Secondary Button</button>
<button class="btn btn--secondary icon--play">Secondary with Leading Icon</button>
<button class="btn btn--secondary icon--link">Secondary with Trailing Icon</button>
<button class="btn btn--secondary" disabled>Secondary Disabled</button>