<!-- Secondary -->
<button class="btn btn--secondary">Secondary Button</button>
<button class="btn btn--secondary icon--play">Secondary with Icon</button>
<button class="btn btn--secondary" disabled>Secondary Disabled</button>