<div class="ucla campus">
  <ul class="pagination boxed">
    <li><a href="#"><</a></li>
    <li><a class="current" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">></a></li>
  </ul>

  <!-- unboxed pagination -->
  <ul class="pagination">
    <li><a href="#"><</a></li>
    <li><a class="current" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">></a></li>
  </ul>
</div>
