<div class="ucla">
  <!-- Standard Link -->
  <a href="#">This is an example of a link on light background</a>

  <!-- White links on Blue Backgrounds -->
  <!-- Note: background color included for better depiction -->
  <div style="background: #2774AE; text-align: left;">
    <a class="white-link" href="#">This is an example of a link on dark background</a>
  </div>

  <br>
</div>
