<!-- Standard Link -->
<a href="#">Standard Link</a>

<!-- White links on Blue Backgrounds -->
<!-- Note: background color included for better depiction -->
<div style="background: #2774AE;">
  <a class="white" href="#">White Link on Blue Background</a>
</div>
