<!-- Standard Link -->
<a href="#" class="link">Standard Link</a>

<!-- White links on Blue Backgrounds -->
<!-- Note: background color included for better depiction -->
<div style="background: #2774AE;">
  <a class="white-link" href="#">White Link on Blue Background</a>
</div>

<br>
