<p>
  This is an example of an <a class="link" href="#">inline</a> link on light background.
</p>

<p style="background: #2774AE; color: white;">
  This is an example of an <a class="white-link" href="#">inline</a> link on dark background.
</p>

<br>
