<ul class="related-links">
    <li><a href="#">This is an Internal Link</a></li>
    <li><a class="ext-link" href="#">This is an External Link</a></li>
    <li><a class="" href="#">This is a Link to a Download (pdf)</a></li>
</ul>
