<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ path '/css/ucla-lib.css' }}">
  <title>Preview</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ path '/js/ucla-lib-scripts.js' }}"></script>
  <style>
    .ucla.campus.example .col {
      background: #757575;
      outline: 1px dotted #fff;
      outline-offset: -1px;
      text-align: center;
      color: #fff;
      padding: 5px 0;
    }
  </style>
</head>

<body>
  
  {{{ yield }}}

</body>

</html>
