<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/global.css' }}">
    <title>Preview</title>
</head>
<body>

{{{ yield }}}

<!-- <script src="{{ path '/assets/main.js' }}"></script> -->
</body>
</html>
