<nav id="nav-main" class="nav-primary" aria-label="Main Menu">
  <ul class="nav-primary__list">
    <li>
      <div class="nav-primary__search-mobile">
        <form role="search" method="get" class="nav-primary__search-form" action="#" id="menu-search-mobile">
          <label>
            <span class="nav-primary__screen-reader-text visuallyhidden">Search for:</span>
            <input type="search" class="nav-primary__search-field" placeholder="Search …" value="" name="s">
          </label>
          <input type="submit" class="nav-primary__search-submit" value="Search">
        </form>
      </div>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
    <li class="nav-primary__item ">
      <a class="nav-primary__link" href="#">Nav Item</a>
    </li>
  </ul>
</nav>
