<div class="blockquote-wrapper">
  <div class="blockquote">
    <p class="blockquote__quote">Quote copy. A series of senences together which make a paragraph. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus caborundum e pluribus unum.</p>
    <p class="blockquote__citation">&mdash; First Last Name in <em>Source</em></p>
  </div>
</div>
