<p>This sentence contains text styled as <strong>strong</strong>.</p>
<p>This sentence contains text styled as <small>small</small></p>
<p>This sentence contains text styled as <em>emphasis</em></p>
<p>This sentence contains text styled as <strike>strike</strike></p>
