<!-- Error Red-->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <title>Error</title>
  <style type="text/css">
    .error--red{fill-rule:evenodd;clip-rule:evenodd;fill:#D60000;}
  </style>
  <g>
    <path class="error--red" d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M26,34h-4v-4h4V34z M26,26h-4V14h4V26z"/>
  </g>
</svg>

<!-- Success Green -->
<svg width="48px" height="48px"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <title>Success</title>
  <style type="text/css">
    .success--green{fill-rule:evenodd;clip-rule:evenodd;fill:#007339;}
  </style>
  <g>
    <g transform="translate(4.000000, 4.000000)">
      <path class="success--green" d="M20,0c11,0,20,9,20,20s-9,20-20,20S0,31,0,20S9,0,20,0z M28.4,12.1L18.2,22.2l-4.6-4.6
      	c-0.2-0.2-0.4-0.2-0.6,0l-2.9,2.9c-0.2,0.2-0.2,0.4,0,0.6L18,29c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1l13.3-13.3
      	c0.2-0.2,0.2-0.4,0-0.6L29,12.1C28.8,12,28.5,12,28.4,12.1z"/>
    </g>
  </g>
</svg>

<!-- Warning Orange -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <title>Warning</title>
  <style type="text/css">
    .warning--orange {fill-rule: evenodd;clip-rule: evenodd;fill: #F57F17;}
  </style>
  <g>
    <path class="warning--orange" d="M24,0l22,38H2L24,0z M26,28h-4v4h4V28z M26,16h-4v8h4V16z"/>
  </g>
</svg>
