<div class="section-wrapper accordion">

	<h2 class="accordion__title">
		<button id="accordion1id" class="accordion__title-button" type="button" aria-expanded="true" aria-controls="sect1">
			{{ dropdown.title }}
		</button>
	</h2>

	<div id="sect1" role="region" aria-labelledby="accordion1id" class="accordion__content grey-bk">
			{{ dropdown.content }}
	</div>

</div>
