// Three Columns
<div class="ucla campus">
  <ul class="tile__section">
    <li class="col span_1_of_3 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="http://google.com/">
          <h3 class="tile__title">Lorem Ipsum dolor sit amet sit amet sit</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_3 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">L</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_3 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum</h3>
        </a>
      </span>
    </li>
  </ul>
</div>

// Four Columns
<div class="ucla campus">
  <ul class="tile__section">
    <li class="col span_1_of_4 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="http://google.com/">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_4 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_4 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_4 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    </li>
  </ul>

</div>


// Five Columns
<div class="ucla campus">
  <ul class="tile__section">
    <li class="col span_1_of_5 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="http://google.com/">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_5 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_5 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    <li class="col span_1_of_5 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
    </li>
    <li class="col span_1_of_5 tile">
      <span class="tile__image" role="img" aria-label="Royce Hall at sunset">
        <a class="tile__link" href="#">
          <h3 class="tile__title">Lorem Ipsum Dolore</h3>
        </a>
      </span>
    </li>
  </ul>

</div>