<div class="tile">
  <a class="tile__link" href="https://ucla.edu">
    Basic tile, 32 char. max suggested
    <img class="tile__image" src="/img/examples/tile-example-1.jpg" alt="Royce Hall">
  </a>
</div>

<div class="tile short">
  <a class="tile__link" href="https://ucla.edu">
    Short tile, 32 char. max suggested
    <img class="tile__image" src="/img/examples/tile-example-1.jpg" alt="Royce Hall">
  </a>
</div>
