<h1>Basic Tile Variants</h1>

<h2>Left-Aligned</h2>
<h3>One Column</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-1">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Two Columns</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-2">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Three Columns</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-3">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--students">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Four Columns</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-4">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--students">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--events">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h2>Center-Aligned</h2>

<h3>One Column - Centered</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-1 tile__section--centered">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Two Columns - Centered</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-2 tile__section--centered">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Three Columns - Centered</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-3 tile__section--centered">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--students">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>

<h3>Four Columns - Centered</h3>
<div class="ucla campus">
  <section class="tile__section tile__section--col-4 tile__section--centered">
    <span class="tile tile__background">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--royce">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--students">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
    <span class="tile tile__background tile__background--events">
      <a class="tile__link" href="#">
        <h3 class="tile__title">Lorem ipsum dolor sit amet</h3>
      </a>
    </span>
  </section>
</div>