<!-- Factoid - single -->
<!-- use case: longer sentences -->
<h3>Factoid - single</h3>

<aside class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
  </div>
</aside>

<!-- Factoid - two across -->
<h3>Factoid - two across </h3>

<div class="stat-set">
  <aside class="stat-wrapper clearfix">
    <div class="stat-tout stat-tout--inline">
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </div>
  </aside>

  <aside class="stat-wrapper clearfix">
    <div class="stat-tout stat-tout--inline">
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </div>
  </aside>
</div>
