<!-- Ranking - single -->
<h3>Ranking - single</h3>
<aside class="stat-wrapper clearfix">
  <div class="stat-tout">
    <span class="stat-tout__number">#9</span>
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">in the world for mathematics</span>
      <span class="stat-tout__source">Academic Ranking of World Universities (2019)</span>
    </div>
  </div>
</aside>

<!-- Ranking - single, inline -->
<h3>Ranking - single, inline</h3>
<aside class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <span class="stat-tout__number">#9</span>
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">in the world for mathematics</span>
      <span class="stat-tout__source">Academic Ranking of World Universities (2019)</span>
    </div>
  </div>
</aside>

<!-- Rankings - two across  -->
<h3>Rankings - two across</h3>
<div class="stat-set">
  <aside class="stat-wrapper clearfix">
    <div class="stat-tout stat-tout--inline">
      <span class="stat-tout__number">#4</span>
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">Best Value Colleges</span>
        <span class="stat-tout__source">Forbes (2019)</span>
      </div>
    </div>
  </aside>

  <aside class="stat-wrapper clearfix">
    <div class="stat-tout stat-tout--inline">
      <span class="stat-tout__number">45%</span>
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">of students pay no tuition</span>
      </div>
    </div>
  </aside>
</div>

<!-- Rankings - three across -->
<!-- Caveats: avoid using stat-tout inline modifier  -->
<h3>Rankings - three across</h3>
<div class="stat-set">
  <aside class="stat-wrapper clearfix">
    <div class="stat-tout">
      <span class="stat-tout__number">#6</span>
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">nationally for English</span>
        <span class="stat-tout__source">U.S. News &amp; World Report (2018)</span>
      </div>
    </div>
  </aside>

  <aside class="stat-wrapper clearfix">
    <div class="stat-tout">
      <span class="stat-tout__number">#12</span>
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">Best Global Universities rankings for world arts and humanities</span>
        <span class="stat-tout__source">U.S. News & World Report (2019)</span>
      </div>
    </div>
  </aside>

  <aside class="stat-wrapper clearfix">
    <div class="stat-tout">
      <span class="stat-tout__number">#3</span>
      <div class="stat-tout__info-wrap">
        <span class="stat-tout__label">best film school</span>
        <span class="stat-tout__source">Hollywood Reporter (2019)</span>
      </div>
    </div>
  </aside>
</div>
