<!-- Ranking - single -->
<h3>Ranking - single</h3>


<!-- Ranking - single, inline -->
<!-- use-case? -->
<h3>Ranking - single, inline</h3>
<div class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <span class="stat-tout__number">#9</span>
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">in the world for mathematics</span>
      <span class="stat-tout__source">Academic Ranking of World Universities (2019)</span>
    </div>
  </div>
</div>

<!-- Two across  -->

<!-- Three across  -->
