<!-- Factoid - single, usually inline? -->
<h3>Factoid - single</h3>

<div class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
  </div>
</div>

<!-- Factoid - two across -->
<!-- any case of this? -->
