<!-- Factoid -->

<section class="stat-set">
  <div class="stat-single stat">
    <div class="stat-wrapper clearfix">
      <div class="stat-tout inline">
        <div class="stat-tout__info-wrap">
          <span class="stat-tout__label">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
