<!-- Statistic - single variable -->
<h3>Statistic - single</h3>
<div class="stat-wrapper clearfix">
  <div class="stat-tout">
    <span class="stat-tout__number">31,000</span>
    <span class="stat-tout__label">Undergraduate Students</span>
  </div>
</div>

<!-- Statistic - single, inline -->
<h3>Statistic - single, inline</h3>
<div class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <span class="stat-tout__number">31,000</span>
    <span class="stat-tout__label">Undergraduate Students</span>
  </div>
</div>

<!-- Statistic - multiple variable -->

<div class="stat-wrapper clearfix">
  <div class="stat-tout stat-tout--inline">
    <span class="stat-tout__number">2 <span>out of</span> 3</span>
    <div class="stat-tout__info-wrap">
      <span class="stat-tout__label">classes have less than 30 students</p></span>
  </div>
</div>

<!-- Statistic - single -->

<!-- Statistic - two across -->

<!-- Statistic - three across -->
