<h2 class="mt-24">Padding</h2>
<p class="pb-2">This sentence has 2px of padding spacing below it</p>
<p class="pb-4">This sentence has 4px of padding spacing below it</p>
<p class="pb-8">This sentence has 8px of padding spacing below it</p>
<p class="pb-12">This sentence has 12px of padding spacing below it</p>
<p class="pb-16">This sentence has 16px of padding spacing below it</p>
<p class="pb-24">This sentence has 24px of padding spacing below it</p>
<p class="pb-32">This sentence has 32px of padding spacing below it</p>
<p class="pb-64">This sentence has 64px of padding spacing below it</p>
<p class="pb-80">This sentence has 80px of padding spacing below it</p>
<p class="pl-md-32">This sentence has 32px of padding spacing to the left on medium screens and above.</p>
