<p class="lead">
  <!--
  font-size: 1.5rem; line-height 1.33;
  -->
  UCLA offers 337 undergraduate and graduate degree programs in a wide range of disciplines,[13] enrolling about 31,600 undergraduate and 14,300 graduate and professional students. This is a sample of lead copy.
</p>
