<figure class="blockquote">
  <blockquote cite="https://www.ucla.edu">
    <p>This paragraph contains text that is in a blockquote. Don't put a blockquote in a figure. But you can put a figure in a blockquote. Implement HTML5 blockquote element.</p>
  </blockquote>
  <figcaption>First Name Last Name<br/><em>Title</em><br /><cite>Source</cite></figcaption>
</figure>