<figure class="blockquote">
  <blockquote cite="https://www.ucla.edu">
    <p>Quote copy. A series of senences together which make a paragraph. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus caborundum e pluribus unum.</p>
  </blockquote>
  <figcaption>First Name Last Name<br/><em>Title</em><br /><cite>Source</cite></figcaption>
</figure>