<ol class="ucla-list--numbered">
  <li>Ordered List Item 1</li>
  <li>Ordered List Item 2</li>
  <li>Ordered List Item 3</li>
  <li>Ordered List Item 4</li>
  <li>Ordered List Item 5</li>
  <li>Ordered List Item 6</li>
  <li>Ordered List Item 7</li>
  <li>Ordered List Item 8</li>
  <li>Ordered List Item 9</li>
  <li>Ordered List Item 10</li>
</ol>

<!-- Multi Level Ordered List -->
<ol class="ucla-list--numbered">
  <li>Ordered List Item 1</li>
  <li>Ordered List Item 2
    <ol class="ucla-list--numbered">
      <li>Ordered List Item 2.1</li>
      <li>Ordered List Item 2.2</li>
      <li>Ordered List Item 2.3</li>
    </ol>
  </li>
  <li>Ordered List Item 3</li>
  <li>Ordered List Item 4</li>
</ol>
