<style>
  .ucla.campus div {
    background: #757575;
    text-align: center;
    color: #fff;
    padding: 5px 0;
  }
</style>

<div class="ucla campus">
  <div class="col span_12_of_12">
    1 of 1
  </div>
</div>
