<div class="ucla campus">
	<div class="col span_1_of_7">
	1 of 7
	</div>
	<div class="col span_1_of_7">
	2 of 7
	</div>
	<div class="col span_1_of_7">
	3 of 7
	</div>
  <div class="col span_1_of_7">
	4 of 7
	</div>
  <div class="col span_1_of_7">
	5 of 7
	</div>
  <div class="col span_1_of_7">
	6 of 7
	</div>
  <div class="col span_1_of_7">
	7 of 7
	</div>
</div>
