<div class="ucla campus">
    <div class="col span_6_of_12">
    This is column 1, that spans 6 columns of 12.
    </div>
    <div class="col span_3_of_12">
    This is column 2, that spans 3 columns of 12.
    </div>
    <div class="col span_3_of_12">
    This is column 3, that spans 3 columns of 12.
    </div>
</div>
