<div class="ucla">
    <a class="resource-link" href="#">
        <span class="resource-link__primary">Primary</span>
        <span class="resource-link__secondary">Secondary</span>
    </a>
    <a class="resource-link disabled" href="#">
        <span class="resource-link__primary">Primary (disabled)</span>
        <span class="resource-link__secondary">Secondary (disabled)</span>
    </a>
</div>